:root {
  --primary-bg: #0B0C10;
  --secondary-bg: #1F2833;
  --text-color: #C5C6C7;
  --accent-color: #66FCF1;
  --accent-muted: #4ac3bd;
}

/* Fontit */
@font-face {
  font-family: 'Null';
  src: url('fonts/Null-Normal.otf') format('otf'),
       url('fonts/Null-Normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Null', sans-serif;
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 1px;
  margin-top: 0;
  text-align: center;
  color: var(--accent-color);
}

body {
  font-family: 'Raleway', sans-serif; /* Leipäteksti */
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--primary-bg); /* gray tint */
}



/* Header layout */
header {
  display: flex;
  align-items: center; /* Vertically align logo and headline container */
  /*position: relative; /* Needed to position the headline container absolutely */
  padding: 10rem 4rem;
  text-align: center; /* Ensures elements remain central on smaller screens */
  /*background-color: #898121; */
  background-image: url('images/iltarusko.jpg'), linear-gradient(rgba(150, 71, 52, 0.9), rgba(15, 164, 175, 0.9)); /* Add a gradient */
  background-size: cover;
  background-blend-mode: overlay; /* Other options: multiply, screen, darken, lighten */
  background-position: 50% 60%;
  color: #fff;
}

/* Headline container */
.headline-container {
  position: absolute; /* Remove it from the normal document flow */
  z-index: 2;
  left: 50%; /* Start at the horizontal center */
  transform: translateX(-50%); /* Correct for the width of the container */
  text-align: center; /* Center text inside the container */
}

.headline-container h1 {
  font-family: 'Null', sans-serif;
  font-size: 4.5rem;
  margin: 0;
  font-weight: 300;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  color: #fff;
}

.headline-container h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  margin-top: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  color: #e9e7e7; /* A lighter color for distinction */
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: var(--primary-bg);
  padding: 0.7rem 0rem;
  margin-bottom: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 1.1rem;
}

nav ul li a:hover {
  color: var(--accent-color);
}

@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
      align-items: center;
  }

  nav ul li {
      margin: 0.5rem 0;
  }
}

main {
  background-color: var(--secondary-bg); /* Keep the main content area white for contrast */
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add subtle shadow for depth */
  border-radius: 8px; /* Optional: Rounded corners for modern style */
  margin: 1rem auto;
  max-width: 900px;
}

main p, .portfolio-item p, #contact ul li {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}


#about {
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  #about {
      flex-direction: column;
      text-align: center;
  }
}

.highlight {
  color: var(--accent-color); /* Custom color for the highlighted text */
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 0;
  color: var(--accent-muted);
  text-align: center;
}

#gallery {
  text-align: center;
  margin-top: 4rem;
}

@media (max-width: 768px) {
  .gallery {
      flex-direction: column;
      align-items: center;
  }

  .gallery-item {
      width: 100%;
      height: auto;
  }
}

.gallery {
  display: flex;
  gap: 1rem;
  justify-content: left;
  flex-wrap: wrap;
}

.gallery a {
  display: inline-block;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  width: 170px; /* Image size here */
  height: 170px;
}

.gallery-item img {
  display: block; /* Ensures proper scaling */
  width: 100%; /* Makes image fill the container */
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 40, 51, 0.5); /* Dark overlay */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem; /* Add padding for space between text and edges */
  box-sizing: border-box; /* Ensures padding doesn’t overflow */
  transition: opacity 0.3s ease;
  border-radius: 8px;
}

.gallery-item .overlay p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  max-width: 95%; /* Ensures text doesn’t span the entire width */
  word-wrap: break-word; /* Wraps long words to avoid overflow */
}

.gallery-item:hover img {
  filter: brightness(0.7);
  transform: scale(1.00); /* Slight zoom effect */
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.gallery-group {
  margin-bottom: 1rem;
}

.gallery-group h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  color: var(--text-color); /* Accent color for sub-headlines */
  margin-bottom: 0.5rem;
  text-align: left;
}

.gallery img {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#portfolio {
  margin-top: 7rem;
}

/* General styling for the Music portfolio section */
#audio-item {
  margin-bottom: 1.5rem;
}

/* Styling for each audio item's header */
.audio-item h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  margin: 0.5rem 0;
  color: var(--text-color);
}

/* Customize audio players */
audio {
  width: 90%; /* Full width for responsiveness */
  height: 25px; /* Reduce height to make it compact */
  outline: none; /* Optional: Remove default focus styles */
}

/* Styling for audio item descriptions */
.audio-description {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: #b9b9b9; /* Subtle gray to keep focus on titles and audio players */
  margin: 0rem 0; /* Spacing above and below */
  line-height: 1.5; /* Improve readability */
}

.more-text {
  display: none; /* Hidden by default */
}

.expand-btn {
  background-color: var(--accent-color);
  color: var(--primary-bg);
  border: none;
  padding: 0.2rem 0.4rem;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 0rem 0rem;
  transition: background-color 0.3s ease;

}

.expand-btn:hover {
  background-color: var(--accent-muted);
}

.full-image {
  height: 400px;
  background-size: cover;
  background-position: 50% 60%;
  border-radius: 8px;
  background-image: 
    linear-gradient(to bottom, rgba(15, 164, 175, 0.5), rgba(150, 71, 52, 0.6)), /* Gradient overlay */
    url('images/zoom_puro.jpg'); /* Background image */
  background-position: center; /* Centers the image */
}

.image-section {
  position: relative;
  text-align: center; /* Centers the image */
  padding: 6rem 0; /* Adds space above and below the image */
  /*background-color: #f5f5f5; /* Optional: A subtle background color for contrast */
}

.image-section img {
  max-width: 300px; /* Adjust the size of the image */
  width: 100%; /* Ensures responsiveness */
  height: auto; /* Maintains the aspect ratio */
  border-radius: 50%; /* Makes the image circular */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a shadow for depth */
  object-fit: cover;
  opacity: 100%;
  z-index: 0;
}


.image-container {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden; /* Ensures the overlay is confined */
  margin-top: 70px;
  margin-bottom: 70px;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 128, 128, 0.2); /* Teal tint */
  z-index: 1;
}


/* Styling for Skills and Knowledge section */
#skills {
  padding: 0rem 0;
  margin-top: 0rem;
}

#skills h1 p{
  font-family: 'Null', sans-serif;
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 1px;
  margin-top: 0;
  text-align: center;
  color: var(--accent-color);
}

#skills h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.skill-category {
  margin-bottom: 0.5rem;
}

.skill-category h3 {
  font-size: 1.5rem;
  color: var(--accent-color); /* Accent color for category titles */
  margin-bottom: 0.5rem;
}

.skill-category ul {
  list-style-type: none; /* Remove default bullets */
  padding: 0;
  margin: 0;
}

.skill-category li {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.skill-category li::before {
  content: "• "; /* Bullet point */
  color: var(--accent-color); /* Accent color for bullet points */
}

#contact {
  margin-top: 5rem;
}

#contact ul {
  list-style: none;
  padding: 0;
}

#contact ul li {
  margin: 0.5rem 0;
}

/* Style links in the contact section */
#contact a {
  color: var(--accent-color); /* Change to your desired color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Optional: make the text bold */
}

#contact a:hover {
  color: var(--accent-muted); /* Darker shade for hover effect */
  text-decoration: underline; /* Optional: add underline on hover */
}

footer p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}
